In [4]:
import pandas as pd
import Analysis_hw3
df = pd.read_csv('data.csv', header=0)
df = df.drop(["Unnamed: 0"],axis=1)

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [30]:
from datetime import date, datetime, timedelta
import datime

In [31]:
start_time_date = datetime.strptime('2011-03-02', '%Y-%m-%d')

In [32]:
end_time_date = datetime.strptime('2013-02-22', '%Y-%m-%d')

In [34]:
a=end_time_date - datetime.timedelta(days=1)

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'

In [13]:
a.days

723

In [26]:
df.date_posted == '2014-01-01'

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
296730    False
296731    False
296732    False
296733    False
296734    False
296735    False
296736    False
296737    False
296738    False
296739    False
296740    False
296741    False
296742    False
296743    False
296744    False
296745    False
296746    False
296747    False
296748    False
296749    False
296750    False
296751    False
296752    False
296753    False
296754    False
296755    False
296756    False
296757    False
296758    False
296759    False
Name: date_posted, Length: 296760, dtype: bool

In [ ]:
datetime.timedelta(weeks=1)

In [14]:
def (start, duration):
    
    while start + datetime.timedelta(months=1)
        if not df.date_posted[end] == endnext_time = start + datetime.timedelta(weeks=1)
        start = next_time

now + datetime.timedelta(weeks=1) # => datetime.datetime(2017, 7, 8, 23, 50, 1, 303872)
# 10日 減算
now - datetime.timedelta(days=10

AttributeError: 'datetime.timedelta' object has no attribute 'months'