In [1]:
import pandas as pd
df = pd.read_csv('dropna_normalized.csv', header=0)
df = df.drop(["Unnamed: 0"],axis=1)

In [2]:
df.head()

,projectid,school_charter,school_magnet,school_year_round,school_nlns,school_kipp,school_charter_ready_promise,teacher_teach_for_america,teacher_ny_teaching_fellow,resource_type,...,Mrs.,Ms.,poverty_level,grade_level,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,62526d85d2a1818432d03d600969e99c,1,1,1,1,1,1,1,1,Other,...,1,0,-1.606346,-0.059420,-0.085141,-0.085138,-0.553716,0.814016,-0.463115,0.189716
1,e31c0ea8b68f404699dfb0d39e9bc99b,1,0,1,1,1,1,1,1,Supplies,...,0,0,0.786446,0.896071,0.001473,0.001471,-0.152680,-0.050878,-0.463115,-0.461101
2,c685c844476d7ed75bf87699eeafd682,1,1,1,1,1,1,1,1,Supplies,...,1,0,-0.409950,-1.014912,0.220611,0.220610,-0.458231,-1.492368,0.275821,-0.786509
3,0ff5dec32bf793243a8b0b2c023a81f0,1,1,1,1,1,1,1,1,Technology,...,0,1,0.786446,-1.014912,0.372653,0.372652,-0.490059,1.390612,-0.463115,-0.298397
4,8cdbc04c8ee2ae6afed4951727488579,0,1,1,1,1,1,1,1,Technology,...,1,0,0.786446,-1.014912,-0.247394,-0.247394,-0.470962,-0.050878,0.645289,-0.461101

In [3]:
df.resource_type.unique()

array(['Other', 'Supplies', 'Technology', 'Books', 'Trips', 'Visitors'], dtype=object)